<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon_io/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favicon_io/site.webmanifest' %}">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog_landing.css' %}">
  <link rel="stylesheet" href="{% static 'css/particles.css' %}">
  <link rel="stylesheet" href="{% static 'css/grayscale.min.css' %}">


  <title>Scott Olson</title>
</head>
<body class="container blog-body bg-secondary">
  <header class="masthead masthead-blog masthead-blog-page"> </header>
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger so-header-link" href="http://www.scottolson.dev">so.dev</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://www.scottolson.dev/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://www.scottolson.dev/#portfolio-tag">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://www.scottolson.dev/#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://www.scottolson.dev/blog/">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mx-auto row blog-content-container">
    
    {% for item in blog %}
      <p class="col-12 text-white text-center h2">{{ item.title }}</p>
      <hr class="col-11 my-4 blog-bar">
      <span class="col-2"></span>
      <p class="col-8 text-white h5 content-markdown">{{ item.content|safe }}</p>
      
    {% endfor %}

  </div>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Scott Olson 2020
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.0/marked.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>


  <!-- Custom scripts for this template -->
  <script src="{% static 'js/grayscale.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {# custom function to render markdown content into html #}
  <script src="{% static 'js/blog_page.js' %}"></script>

  
</body>
</html>